@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --accent: #5753ff;
    --black: #121111;
    --gray: #181818;
}

html {
    scroll-behavior: smooth;
    background-color: var(--black);
}

body {
    min-height: 100vh;
}

div, section {
    overflow: hidden;
}

section {
    min-width: 100%;
    min-height: 100vh;
    color: white;
    background-color: var(--black);
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index: 999;
    color: white;
    transition: all 0.5s ease-in-out;
    background-color: var(--black);
    filter: drop-shadow(5px 5px 10px transparent);
}   

/* Sticky Navbar */
nav.sticky {
    background: var(--black);
    filter: drop-shadow(5px 5px 10px rgba(180, 168, 255, 0.13));
}

/* Navbar Logo */
.logo {
    font-size: 32px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.logo:hover {
    opacity: 0.8;
}

/* Navbar Menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu a, .menu-navbar a {
    display: inline-block;
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.menu a::after, 
.menu-navbar a::after {
    color: var(--accent);
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 0.3em;
    border-radius: 5px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
}

.menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn {
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.btn-2 {
    width: 200px;
    height: 45px;
    font-size: 20px;
    background-color: var(--black);
    border: 1px solid white;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-2:hover {
    background-color: var(--accent);
    border: 1px solid var(--accent);
}

/* Hero Section */
.hero-section {
    display: flex;
    margin-top: 80px;
    padding: 0 50px;
    gap: 50px;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-position: center;
    mask-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
}

.hero-section img {
    margin-top: -20px;
    margin-left: -60px;
    -webkit-mask-image: radial-gradient(var(--black) 40%, transparent 90%);
    mask-image: radial-gradient(var(--black) 40%, transparent 90%);
}

/* Hero Headline */
.hero-headline {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.hero-headline h1 {
    font-size: 96px;
    font-weight: 800;
}

.hero-headline h2 {
    font-size: 56px;
    color: var(--accent);
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-hero {
    display: flex;
    width: 234px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 20px;   
}

.btn-hero:hover {
    gap: 10px;
}

/* Hero Logos */
.hero-logos {
    display: flex;
    gap: 20px;
}

.hero-logos i {
    font-size: 50px;
    margin-top: 30px;
    transition: all 0.2s ease-in-out;
}  

.hero-logos i:hover {
    color: var(--accent);
}  

.hero-tagline {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    align-self: flex-end;
    gap: 10px
}

.hero-tagline p {
    font-size: 26px;
    text-justify: inner-word;
    text-align: justify;
}

/* About Section  */
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 82px;
}

.about-section div {
    display: flex;
    width: 1111px;
    gap: 40px;
}

.about-section #first-about-img {
    -webkit-mask-image: radial-gradient(var(--black) 40%, transparent 80%);
    mask-image: radial-gradient(var(--black) 40%, transparent 80%);
}

.about-section #second-about-img {
    border-radius: 30px;
}

.about-headline {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-headline p {
    font-size: 36px;
}

.about-headline hr {
    width: 50%;
    margin-top: 5px;
}

.about-section .about-headline:nth-child(2) {
    align-items: end;
}

.about-section .about-headline:nth-child(2) p {
    text-align: end;
    font-weight: 700;
}

.about-section .about-headline:nth-child(2) p b {
    color: var(--accent);
}

.btn-about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-about p {
    font-size: 20px;
}

/* Projects Section */
.projects-section {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.projects-section h2 {
    font-size: 64px;
    align-self: center;
    margin-bottom: 60px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0 50px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.project-card img {
    border-radius: 15px;
}

.project-title {
    gap: 5px;
    display: flex;
    align-items: center;
}

.project-title h3 {
    font-size: 32px;
    font-weight: 700;
}

.project-title h4 {
    font-size: 16px;
    font-weight: 700;
    opacity: 0.6;
}

.project-links a {
    font-size: 20px;;
    padding: 5px;
    color: white;
    border: 1px solid transparent;
    border-bottom: 1px solid white;
    margin-right: 5px;
    transition: all 0.3s ease-in-out;
}

.project-links a:hover {
    background-color: white;
    text-decoration: none;
    color: var(--black);
}

/* Testimonials Section */
.testimonials-section {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
    background-color: var(--black);
    gap: 24px;
}

.testimony {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 430px;
    height: 250px;
    background-color: var(--gray);
    justify-content: space-between;
    border-radius: 32px;
    padding: 40px 40px 22px 40px;
}

.testimony-text {
    font-size: 20px;
}

.testimony-author {
    font-size: 16px;
}

.testimony-author p {
    padding-bottom: 5px;
}

.testimony-author i {
    color: var(--accent);
     padding-top: 10px;
}

/* Callout Section */
.callout-section {
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px 0 150px;
    color: white;
    background-color: var(--black);
    margin-bottom: 50px;
}

.callout-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-grow: 1;
}

.callout-section div h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.btn-callout {
    font-size: 32px;
    background-color: white;
    border: 1px solid white;
    color: var(--black);
    border-radius: 32px;
    width: 400px;
    height: 65px;
    font-weight: 700;
    filter: drop-shadow(5px 5px 10px transparent);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.btn-callout:hover {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    color: white;
    filter: drop-shadow(10px 10px 20px rgba(7, 57, 255, 0.8));
}